In [6]:
import pandas as pd

data = pd.read_csv('../data/imdb.csv')

In [8]:
data.sample(3)

,genre,title,rating,year,description
18023,romance,Damn Yankees,7.2,1958,A frustrated fan of the hopeless Washington Se...
1193,comedy,Melissa & Joey,7.0,2010–2015,"After a family scandal leaves Mel, a local pol..."
54650,adventure,The King of Detroit,8.2,2014,Life is a series of firsts. Your first kiss. Y...